{% extends "base.html" %}

{% block content %}
<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-8 mx-auto">
            <h1 class="fw-light">{{ user.username }}</h1>
            <p class="lead text-body-secondary">{{ user.email }}</p>
        </div>
    </div>
</section>
<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
             {% if user.profile_picture %}
            <div class="col-md-6">
                <img src="{{ user.profile_picture.url }}" class="img-fluid" style="max-height: 600px; object-fit: cover;">
            </div>
            {% endif %}
            <div class="col-md-6">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <p class="card-text">Дата реєстрації: {{ user.date_joined }}</p>
                        <!-- Тут можуть бути дії, пов'язані з книгою -->
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
